@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    --color-primary: #2563eb;
    --color-secondary: #0d9488;
    --color-base-100: #f8fafc;
    --color-base-content: #111827;
    --color-sh: rgba(0, 0, 0, 0.9); /* Use proper RGBA value */
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #60a5fa;
    --color-secondary: #14b8a6;
    --color-base-100: #1f2937;
    --color-base-content: #e5e7eb;
    --color-sh: rgba(255, 255, 255, 0.9); /* Use proper RGBA value */
}

body {
    font-family: "Inter", "Noto Sans", sans-serif;
}
.custom-shadow {
    box-shadow: 0 0 500px -12px var(--color-sh);
}
